html {
  user-select: none;
  overflow: hidden;
}

#Logo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%;
  right: 0;
  margin: auto;
  display: block;
  fill: url("#MyGradient");
  stroke: #C0C0C0;
  stroke-miterlimit: 5;
}

.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  animation-name: DrawLine, FadeStroke, FillIn;
}

#Draw-Mark {
  animation-delay: .5s, 2.5s, 2.5s;
  animation-duration: 1.5s, .5s, .5s;
  stroke-dashArray: 2000;
  stroke-dashoffset: 2000;
}
#Draw-T{
  animation-delay: 1.5s, 2.5s, 2.5s;
  animation-duration: 1.5s, .5s, .5s;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000; 
}
#Draw-K{
  animation-delay: 1.5s,  2.5s, 2.5s;
  animation-duration: 1.5s, .5s, .5s;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000; 
}

#Draw-TLine{
  animation-delay: 1.5s, 2.5s, 2.5s;
  animation-duration: 1s, .5s, .5s;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000; 
  z-index: 2;
}

#Draw-you{
  animation-delay: 1.5s, 2.5s, 2.5s;
  animation-duration: 1s, .5s, .5s;
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000; 
}

@keyframes DrawLine {
  to {
    stroke-dashOffset: 0;
  }
}
@keyframes FadeStroke {
  to {
    stroke-opacity: 0;
  }
}
@keyframes FillIn {
  from {
    fill-opacity: 0;
  }
  to {
    fill-opacity: 1;
  }
}
