@font-face {
  font-family: 'description';
  src: url('../font/Starjhol.ttf');
}

@font-face{
  font-family: 'hover';
  src:url('../font/Starjedi.ttf');
}

body {
  overflow: hidden;
}

#frame{
  position:absolute;
  width: 100vw;
  height: 130vh;
  overflow:hidden;
  font-size: 2.5vw;
  text-align:center;
  font-family:sans-serif;
  background-color: rgba(0,0,0,0);
}

.roll{
  margin-top: 20%;
  transform: translateY(100vh);
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.roll.anim{
  animation-name: opening;
}

@keyframes opening {
  0%{
    transform: translateY(100vh);
  }
  100%{
    transform: translateY(-550vh);
  }
}

ul {
  list-style: none;
}

.plan{
  margin-bottom: 2em;
}

.technology{
  margin-bottom: 4.5em;
}

.title1{
  font-size: 1.8em;
  font-weight: bold;
}

.title2{
  font-size: 1.4em;
  font-weight:bold;
  line-height: 2
}

.title3{
  font-size: 1.8em;
  font-weight:bold;
  line-height: 2
}

html:after{
  content:'';
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:linear-gradient(top,rgba(0,0,0,1) 15%,rgba(0,0,0,0) 100%);
  background:linear-gradient(to bottom,rgba(0,0,0,1) 15%,rgba(0,0,0,0) 100%);
  pointer-events:none;
}

#particles-js{
  width:98%;
  height:97%;
  position: absolute;
}

#wrap{
  user-select: none;
  position:absolute;
  top:-30%;
  bottom:0;
  left:0;
  right:0;
  transform-origin:50% 100%;
  transform:perspective(300px) rotateX(5deg); /* 角度 */
  background-color: rgba(0,0,0,0);
}

html{
  color:yellow;
  background:black;
}

/*
@keyframes autoscroll{
  to{
    margin-top:-5000%;
  }
}
*/

#button_area{
  position: fixed;
  bottom: 5%;
  right: 12%;
  width: 10%;
}

#skip{
  width: 140%;
  font-family: 'description';
  display: inline-block;
  text-align: center;
  border-style:solid;
  border-width:medium;
  font-size: 180%;
  padding: 5% 20%;
  color: yellow;
  text-decoration: none;
  border-radius: 6%;
  transition: .1s;
}

#skip:hover {
  font-family: 'hover';
  background-color: yellow;
  border-color: yellow;
  color: black;
}

#skip:hover {
  border-color: black black transparent transparent;
}

body {
  animation: fadeIn 3s ease 0s 1 normal;
  -webkit-animation: fadeIn 3s ease 0s 1 normal;
/* フェードアウト */
  transition: all 7s;
  background-color: white;
}

/*フェードアウト*/
.bodyfadeout{
  opacity: 0;
}

@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}



